<div class="view intro hm-purple-light" style="">
    <div class="full-bg-img flex-center">
        <div class="fadeInUp flex-center">
             <div class="container login-form-2" >
                <div class="row" style="text-align: center;">
                   
                    <div class="col-md-12 ">
                        <div >
                            <div>
                                <h1>ADD EMPLOYEE DETAILS</h1>
                                <div class="row ">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="First Name *" value="" />
                                        </div>
                                        <div class="form-group">
                                            <select class="form-control">
                                                <option class="hidden"  selected disabled>Branch Id *</option>
                                                <option>118001</option>
                                                <option>118002</option>
                                                <option>118003</option>
                                            </select>
                                        </div>
        
                                        <div class="form-group " style="text-align: justify; ">
                                            <input type="date" class="form-control" name="dob" placeholder="DOB">
                                        </div>
                                        <div class="form-group  "  style="text-align: justify;"> 
                                          <label class="radio inline"> 
                                                        <input type="radio" name="gender" value="male" class="form-control" checked>
                                                        <span> Male </span> 
                                                    </label>
                                                    
                                                    <label class="radio inline"> 
                                                        <input type="radio" name="gender" value="female" class="form-control">
                                                        <span>   Female  </span> 
                                                    </label>
                                                </div>

                                                
                                                          
                                    
                                        
                                        <div class="form-group">
                                            <input type="text" minlength="12" maxlength="12" name="txtEmpAdhar" class="form-control" placeholder="Employee Adhaar *" value="" />
                                        </div>
                                        <div class="form-group " >
                                            <input type="text" class="form-control" placeholder="PAN No. *" value="" />
                                        </div> 
                                       


                                        
                                       
                                                         </div>
                                                         

                                  
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" minlength="10" maxlength="10" name="txtEmpPhone" class="form-control" placeholder="Last Name *" value="" />
                                        </div>
                                        <div class="form-group">
                                            <input type="text" minlength="10" maxlength="10" name="txtEmpPhone" class="form-control" placeholder="Employee Mobile Number *" value="" />
                                        </div>
                                        
                                       
                                       
                                        <div class="form-group">
                                            <input type="text" minlength="10" maxlength="250" name="txtEmpAdhar" class="form-control" placeholder="Age" value="" disabled/>
                                        </div>

                                        <div class="form-group">
                                            <input type="text" minlength="10" maxlength="250" name="txtEmpAdhar" class="form-control" placeholder="Street Name *" value="" />
                                        </div>

                                        <div class="form-group">
                                            <input type="text" minlength="10" maxlength="250" name="txtEmpAdhar" class="form-control" placeholder="City Name *" value="" />
                                        </div>
                                        <div class="form-group">
                                            <input type="text" minlength="10" maxlength="250" name="txtEmpAdhar" class="form-control" placeholder="State Name *" value="" />
                                        </div>
                                        <div class="form-group">
                                            <input type="text" minlength="10" maxlength="250" name="txtEmpAdhar" class="form-control" placeholder="Zip Code *" value="" />
                                        </div>
                                      
                                         
                                    </div>
                                    
                                </div>
                                <input type="submit" class="btnRegister"  value="Register"/> 
                                                                
                                
           
                           
                     
          
    
           </div>

</div>
</div>
</div>
</div>
</div>



