/* You can add global styles to this file, and also import other style files */

.top-nav-collapse {
     background-color:#e24c00;
    //background-color: white;
  
}
// .nav-link,
// .md-form,
// .navbar-brand {
//   mix-blend-mode: difference;
// }
// .navbar.navbar-dark .navbar-brand, 
// .navbar.navbar-dark .navbar-brand:hover {
//     color:  #4285F4;
// }

// .navbar.navbar-dark .navbar-nav .nav-item a {
//     color: #4285F4;
// }

// .navbar-dark form input[type=text] {
//     border-bottom: 1px solid #4285F4;
// }

// .navbar-dark form .form-control {
//     color: #4285F4;
// }

// .navbar-dark form .form-control::-webkit-input-placeholder {
//     color: #4285F4 !important;
// }

// .navbar-dark form .form-control:-moz-placeholder {
//     /* Firefox 18- */
//     color: #4285F4 !important;
// }

// .navbar-dark form .form-control::-moz-placeholder {
//     /* Firefox 19+ */
//     color: #4285F4 !important;
// }

// .navbar-dark form .form-control:-ms-input-placeholder {
//     color: #4285F4 !important;
// }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
