<!-- Main -->
<div class="view intro hm-purple-light" style="">
    <div class="full-bg-img flex-center">
        <div class="container text-center white-text wow fadeInUp">
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
            <h1 id="changeText" style="font-weight: bold; size: 50px; font-size: 50px; color:whitesmoke; fill-rule: unset; filter: brightness(150%);">Welcome To Pecunia Bank</h1>
            <br>
            <h2 id="def">Be with us...be with the world!</h2>
        </div>
    </div>
</div>
<!-- /.Main -->
     
<!--Main Navigation-->

<!--Main Layout-->
<main class="text-center py-5">

<div class="container">
    <div class="row">
        <div class="col-md-12">

            <p align="justify">Pecunia Bank Limited is an Indian multinational banking and financial services company headquartered in Mumbai, Maharashtra with its registered office in Bangalore, Karnataka. As of 2018, Pecunia Bank is the ninth largest bank in India in terms of assets and market capitalisation. It offers a wide range of banking products and financial services for corporate and retail customers through a variety of delivery channels and specialised subsidiaries in the areas of investment banking, life, non-life insurance, venture capital and asset management. The bank has a network of 15 branches and 5,000 ATMs across India and has a presence in 3 countries including India.</p>

        </div>
    </div>
</div>

</main>
<!--Main Layout-->



<!--Main Navigation-->

<!--Main layout-->
<main class="mt-5">
    <div class="container">

        <!--Section: Best Features-->
        <section id="best-features" class="text-center">

            <!-- Heading -->
            <h2 class="mb-5 font-weight-bold">Best Features</h2>

            <!--Grid row-->
            <div class="row d-flex justify-content-center mb-4">

                <!--Grid column-->
                <div class="col-md-8">

                    <!-- Description -->
                    <p class="grey-text">We at Pecunia always deliver you the <strong>best</strong>. We provide you 
                      features like opening up an account, taking loan at minimal cost and other banking facilities at a fast pace.
                        </p>

                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->

            <!--Grid row-->
            <div class="row">

                <!--Grid column-->
                <div class="col-md-4 mb-5">
                    <i class="orange-text"><img src="./assets/img/001-wallet.svg" height="70px"></i>
                    <h4 class="my-4 font-weight-bold">Money Savings</h4>
                    <p class="grey-text">Keep your eyes on the price when spending, don't regret later to find that you have nothing for tomorrow. </p>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-md-4 mb-1">
                    <i class="orange-text"><img src="./assets/img/004-cart.svg" height="72px"></i>
                    <h4 class="my-4 font-weight-bold">Online Shopping</h4>
                    <p class="grey-text">A decade ago, it would have been impossible to imagine shopping online. </p>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-md-4 mb-1">
                  <i class="orange-text"><img src="./assets/img/006-credit-card.svg" height="72px"></i>
                    <h4 class="my-4 font-weight-bold">Credit/Debit Cards</h4>
                    <p class="grey-text">Debit cards offer the convenience of a credit card but work differently. 
        </p>
                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->

        </section>
        <!--Section: Best Features-->
</div>
</main>         



<!-- Footer -->
<footer class="page-footer font-small unique-color-dark">

<!-- Social buttons -->
<div class="primary-color">
    <div class="container">
        <!--Grid row-->
        <div class="row py-4 d-flex align-items-center">

            <!--Grid column-->
            <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                <h6 class="mb-0 white-text">Get connected with us on social networks!</h6>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-6 col-lg-7 text-center text-md-right">
                <!--Facebook-->
                <a class="fb-ic ml-0">
                    <i class="fab fa-facebook white-text mr-4"> </i>
                </a>
                <!--Twitter-->
                <a class="tw-ic">
                    <i class="fab fa-twitter white-text mr-4"> </i>
                </a>
                <!--Google +-->
                <a class="gplus-ic">
                    <i class="fab fa-google-plus white-text mr-4"> </i>
                </a>
                <!--Linkedin-->
                <a class="li-ic">
                    <i class="fab fa-linkedin white-text mr-4"> </i>
                </a>
                <!--Instagram-->
                <a class="ins-ic">
                    <i class="fab fa-instagram white-text mr-lg-4"> </i>
                </a>
            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->
    </div>
</div>
<!-- Social buttons -->

<!--Footer Links-->
<div class="container mt-5 mb-4 text-center text-md-left">
    <div class="row mt-3">

        <!--First column-->
        <div class="col-md-3 col-lg-4 col-xl-3 mb-4">
            <h6 class="text-uppercase font-weight-bold">
                <strong>Pecunia Bank Ltd.</strong>
            </h6>
            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p>We at Pecunia always deliver you the <strong>best</strong>. We provide you 
              features like opening up an account, taking loan at minimal cost and other banking facilities at a fast pace.
                </p>
        </div>
        <!--/.First column-->

        <!--Second column-->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="text-uppercase font-weight-bold">
                <strong>Services</strong>
            </h6>
            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p>
                <a href="#!">Savings/Current Account</a>
            </p>
            <p>
                <a href="#!">Loan</a>
            </p>
            <p>
                <a href="#!">Credit/Debit Cards</a>
            </p>
            <p>
                <a href="#!">Fund Transfer</a>
            </p>
        </div>
        <!--/.Second column-->

        <!--Third column-->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="text-uppercase font-weight-bold">
                <strong>Useful links</strong>
            </h6>
            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p>
                <a href="#!">Your Account</a>
            </p>
            <p>
                <a href="#!">Career</a>
            </p>
            <p>
                <a href="#!">Interest Rates</a>
            </p>
            <p>
                <a href="#!">Help</a>
            </p>
        </div>
        <!--/.Third column-->

        <!--Fourth column-->
        <div class="col-md-4 col-lg-3 col-xl-3">
            <h6 class="text-uppercase font-weight-bold">
                <strong>Contact</strong>
            </h6>
            <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p>
                <i class="fas fa-home"></i> Mumbai, Maharashra 424332, India</p>
            <p>
                <i class="fa fa-envelope mr-3"></i> pecunia@bank.com</p>
            <p>
                <i class="fa fa-phone mr-3"></i> + 91 911 551 3073</p>
            <p>
                <i class="fa fa-print mr-3"></i> + 91 797 676 6408</p>
        </div>
        <!--/.Fourth column-->

    </div>
</div>
<!--/.Footer Links-->

<!-- Copyright -->
<div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="#">with ♥ @pranavsinha17</a>
</div>
<!-- Copyright -->

</footer>
<!-- Footer -->


